services:
  api:
    build:
      context: ./api
    container_name: air_quality_api
    ports:
      - "8005:8000"
    environment:
      - DB_HOST=airquality-rds.cero84cucc6h.us-east-1.rds.amazonaws.com
      - DB_PORT=5432
      - DB_NAME=airquality_rds
      - DB_USER=postgres
      - DB_PASSWORD=1Dc7vjqjvlJi8d4arrTC
      - DB_SCHEMA=air
      - API_TITLE=Air Quality API
      - API_VERSION=1.0.0
      - API_DEBUG=True
    command: ["uvicorn", "main:app", "--host", "0.0.0.0" ,"--port", "8000", "--reload"]

  ui:
    build:
      context: ./form-pollution-app
    container_name: form_pollution_ui
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=54.242.203.116
    command: ["npm", "start"]